@CHARSET "UTF-8";

#edit-npgallery-images {
    display:none;
}

#existed_images {
    
}

#existed_images li{
    float:left;
    margin: 0 5px 0 0;
    cursor: pointer;
}

#upload_result {
    margin: 10px 0 70px;
    clear:both;
}

.npgallery-all-images, .npgallery-main-image {
	width: 640px;
}

.npgallery-main-image {
	display:table-cell;
	height: 480px;
	text-align: center;
	vertical-align: middle;
}
.npgallery-main-image img {
	display:table-cell;
	vertical-align: middle;
}


.npgallery-all-images ul li {
	/*width: 100px !important;
	height: 100px !important;*/
}

.npgallery-active {
	border: 1px solid;'
}

.jcarousel-clip, .jcarousel-container {
	width: 555px !important;
}

.jcarousel-item {
	border:none !important;
}

.jcarousel-skin-default .jcarousel-next {
    background-image: url("../images/gallery_right_hover.png") !important;
}
.jcarousel-skin-default .jcarousel-prev {
    background-image: url("../images/gallery_left_hover.png") !important;
}

.jcarousel-skin-default .jcarousel-next, .jcarousel-skin-default .jcarousel-prev {
	width: 21px !important;
	height: 48px !important;
	top: 46px !important;
	background-position: 0 0 !important;
}

.jcarousel-prev-disabled, .jcarousel-next-disabled {
	display:none !important;
}

.pic-prev, .pic-next {
	background: none repeat scroll 0 0 #000000;
	height:478px;
	top: 0;
	opacity:0.1;
}

.pic-prev:hover, .pic-next:hover {
	opacity: 0.4;
}


.pic-prev {
	cursor: pointer;
	left: -32px;
	position: absolute;
	width: 32px;
}
.pic-next {
	cursor: pointer;
	position: absolute;
	right: 18px;
	width: 32px;
}
.btn-prev, .btn-next {
	width:16px;
	height:38px;
	position:absolute;
	top:221px;
}
.btn-prev {
	background: url("../images/gallery_left.png") no-repeat scroll 0 0 transparent;
	left:7px;
}
.btn-next {
	background: url("../images/gallery_right.png") no-repeat scroll 0 0 transparent;
	right: 7px;
}